<div id='form-edit-news' class='form-wrap form-edit-wrap'>
	{{ form_start(form_edit_news) }}
	<a class='close' href='/main'>Закрыть</a>
	{{ form_widget(form_edit_news) }}
	{{ form_end(form_edit_news) }}
</div>